<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jimhopp.GPSvsNetwork"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDB3x6iZFQ5yg8adlO09CGHzQYcG_LRKmk"/>
        <!-- <uses-library android:name="com.google.android.maps" /> -->

        <activity
            android:label="@string/app_name"
            android:name="GPSvsNetworkMap" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="org.jimhopp.GPSvsNetwork.provider.LocationsContentProvider"
            android:name=".provider.LocationsContentProvider" >
        </provider>
    </application>

</manifest>